<div class="userloginform">
    <h3 style="text-align: center;">Login Here..</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- Email Field -->
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" formControlName="username" class="form-control" required>
            <div class="text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
                Please enter a valid email address.
            </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
            <div class="text-danger" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                Password is required.
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
        <br><br>
        <div class="col text-center">
            <p>Not Registered? Click here to <a style="text-decoration: none;" class="link-primary"
                    routerLink="../register">Register</a> </p>
        </div>

    </form>
</div>