<!-- <div class="userloginform">
    <h3 style="text-align: center;">Login Here..</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" formControlName="username" class="form-control" required>
            <div class="text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
                Please enter a valid email address.
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
            <div class="text-danger" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                Password is required.
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
        <br><br>
        <div class="col text-center">
            <p>Not Registered? Click here to <a style="text-decoration: none;" class="link-primary"
                    routerLink="../register">Register</a> </p>
        </div>

    </form>
</div> -->

<!-- <div id="login" class="min-h-screen flex align-items-center justify-content-center surface-ground">
    <div class="surface-card p-6 shadow-3 border-round w-full sm:w-10 md:w-6 lg:w-4">
        <div class="text-center mb-5">
            <img src="icons8-login-lollipop-96.png" alt="Logo" height="50" class="mb-3">
            <div class="text-900 text-3xl font-bold mb-3">Welcome Back</div>
            <span class="text-600 font-medium">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-primary cursor-pointer" routerLink="../register">Create today!</a>
        </div>

        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="mb-4">
                <label for="username" class="block text-900 font-medium mb-2">Username</label>
                <input id="username" type="text" pInputText placeholder="User Name..." class="w-full"  formControlName="username"/>
                <div class="text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
                    Please enter a valid email address.
                </div>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-900 font-medium mb-2">Password</label>
                <input id="password" type="password" pInputText placeholder="Password" class="w-full" formControlName="password"/>
                <div class="text-danger" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                    Password is required.
                </div>
            </div>

            <div class="flex align-items-center justify-content-between mb-4">
                <div class="flex align-items-center">
                    <p-checkbox inputId="rememberme1" binary="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Remember me</label>
                </div>
                <a class="text-primary font-medium no-underline text-sm cursor-pointer">Forgot password?</a>
            </div>

            <button  [disabled]="form.invalid" pButton pRipple label="Sign In" icon="pi pi-sign-in" class="w-full"></button>
        </form>
    </div>
</div> -->


<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="icons8-login-lollipop-96.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="../register">Create
                today!</a>
        </div>

        <div>
            <label for="username" class="block text-900 font-medium mb-2">Username</label>
            <input id="username" type="text" placeholder="User Name" pInputText class="w-full mb-3"
                formControlName="username">
            <div class="text-danger" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
                Please enter a valid email address.
            </div>

            <label for="password" class="block text-900 font-medium mb-2">Password</label>
            <input id="password" type="password" placeholder="Password" pInputText class="w-full mb-3"
                formControlName="password">
            <div class="text-danger" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                Password is required.
            </div>

            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme" binary="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme" class="text-900">Remember me</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>

            <button pButton pRipple label="Sign In" icon="pi pi-user" [disabled]="form.invalid" class="w-full"></button>
        </div>
    </div>
</form>