<div class="container my-5 py-5 w-50 border rounded bg-light shadow">
  <h3 class="heading text-center text-primary mb-4">Registration</h3>
  <form [formGroup]="registerForm" (ngSubmit)="userRegistration()">
    <!-- Name -->
    <div class="form-group mb-3">
      <label for="Name" class="form-label text-secondary">Full Name</label>
      <input type="text" name="Name" id="Name" formControlName="Name" placeholder="Enter Full Name"
        class="form-control">
    </div>
    <!-- Email -->
    <div class="form-group mb-3">
      <label for="email" class="form-label text-secondary">Email Address</label>
      <input type="email" name="Email" id="Email" formControlName="Email" placeholder="Enter Email" class="form-control"
        class="form-control" [ngClass]="{ 'is-invalid': registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched }" required>
    </div>
    <div *ngIf="registerForm.get('Email')?.touched && registerForm.get('Email')?.invalid" class="invalid-feedback">
    <div *ngIf="registerForm.get('Email')?.errors?.['required']">Email is required.</div>
    <div *ngIf="registerForm.get('Email')?.errors?.['email']">Please enter a valid email address.</div>
  </div>
    <!-- Username -->
    <div class="form-group mb-3">
      <label for="Username" class="form-label text-secondary">Username</label>
      <input type="text" name="Username" id="Username" formControlName="Username" placeholder="Enter Username"
        class="form-control">
    </div>
    <!-- Password -->
    <div class="form-group mb-3">
      <label for="Password" class="form-label text-secondary">Password</label>
      <input type="password" name="Password" id="Password" formControlName="Password" placeholder="Enter Password"
        class="form-control">
    </div>
    <!-- Contact Details -->
    <div class="form-group mb-3">
      <label for="ContactDetails" class="form-label text-secondary">Contact Number</label>
      <input type="number" name="ContactDetails" id="ContactDetails" formControlName="ContactDetails"
        placeholder="Enter Contact Number" class="form-control">
    </div>
    <!-- Role -->
    <div class="form-group mb-4">
      <label for="Role" class="form-label text-secondary">Location</label>
      <input type="text" name="Location" id="Location" formControlName="Location" placeholder="Enter Location"
        class="form-control">
    </div>
    <!-- Register Button -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="registerForm.valid">Register</button>
    </div>
    <!-- Login Link -->
    <div class="text-center mt-4">
      <p class="text-secondary">Already registered?
        <a routerLink="../login" class="text-decoration-none text-primary fw-bold">Login</a>
      </p>
    </div>
  </form>
</div>