<header>
  <h1>User Profile</h1>
</header>

<div *ngIf="UserRole; else userDetails" class="container">
  <h2>All Users</h2>
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of getColumns()">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of allUserProfile">
        <td *ngFor="let col of getColumns()">{{ row[col] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #userDetails>
  <div class="container">
    <h2>User Details</h2>
    <div class="profile-item" *ngFor="let field of userFields">
      <strong>{{ field.label }}:</strong> <span [id]="field.id">{{ allUserProfile[0][field.key] }}</span>
    </div>
  </div>
</ng-template>

<!-- <footer>
  <p>&copy; 2025 Profile Page. All Rights Reserved.</p>
</footer> -->
